html {
  font-family: 'Roboto', sans-serif;

}

body {
  position: relative;
  height: 800px;
  width: 1000px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 7px;
}

/* Navigation Bar */
.left-nav {
  float: left;
}

.right-nav {
  float: right;
}

#sign-in {
  border: thin solid cyan;
  padding: 4px 8px;
  position: relative;
  bottom: 5px;
  background-color: cyan;
  color: white;
}

/* Search Bar */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
    display: block;
    margin: 0 auto;
}

.search {
  display: block;
  margin: 0 auto;
}

.submit-buttons {
  text-align: center;
}

button {
  margin: 0 5px;
}

.language {
  text-align: center;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 1000px;
}

.about {

}

.l-footer {
  float: left;
}

.r-footer {
  float: right;
}
